@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #252A2E;
    color: #E0E3E7;
    font-family: 'Comfortaa';
    line-height: 28px;
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: lightblue;
}

a:hover {
    color: lightcoral;
}

input {
    cursor: text;
    border-style: none;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #1e2124;
    border-radius: 4px;
    padding: 8px;
    color: #E0E3E7;
    font-weight: 500;
    font-family: 'Comfortaa';
    outline: none;
}

button {
    color: black;
    background-color: lightblue;
    border-style: none;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    font-family: 'Comfortaa';
}

button:hover {
    cursor: pointer;
    background-color: rgb(92, 172, 198)
}

button:disabled {
    color: pointer;
    cursor: not-allowed;
    background-color: rgb(83, 118, 130)
}

canvas {
    cursor: none;
}