<html>
    <head>
        <title>Shooter</title>
        <link rel='stylesheet' href='stylesheet.css'>
        <script src="/socket.io/socket.io.js"></script>
        <script src='game.js' defer></script>
    </head>
    <body>
        
    </body>
</html>