<html>
    <head>
        <title>Shooter</title>
        <link rel='stylesheet' href='/stylesheet.css'>
        <script src="/socket.io/socket.io.js"></script>
        <script src='/game.js' defer></script>
    </head>
    <body>
        <noscript>
            <div class='center' style='text-align: center'>
                You seem to have javascript disabled.<br>
                This application requires you to have javascript enabled.
            </div>
        </noscript>
    </body>
</html>