<html>
    <head>
        <title>Shooter</title>
        <link rel='stylesheet' href='stylesheet.css'>
        <script src="particles.js"></script>
        <script src='index.js' defer></script>
        <script src='background.js' defer></script>
    </head>
    <body>
        <div id="particles-js"></div>
        <noscript>
            <div class='center' style='text-align: center'>
                You seem to have javascript disabled.<br>
                This application requires you to have javascript enabled.
            </div>
        </noscript>
    </body>
</html>